<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= topic.title %></h1>

      <a href="/categories/<%= topic.categoryId %>/sections/<%= topic.sectionId %>/topics/<%= topic.id %>/edit" class="btn btn-warning">Edit</a>

      <form style="display:initial" action="/categories/<%= topic.categoryId %>/sections/<%= topic.sectionId %>/topics/<%= topic.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
